<!--Dylan Venancio-->
<!--Projet FRMK-->
<!--09.03.2023-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Shop</title>
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark"><h1 class="text-white">Mon Shop</h1></nav>
<div id="app" class="d-flex p-2">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody><!--v-for pour prendre tout les infos qui se trouver dans le panier-->
            <tr v-for="(paniers) in panier" v-bind:key="paniers.id">
                <td>{{paniers.name}}</td>
                <td>{{paniers.price}} Chf</td>
                <td>{{paniers.quantity}} Nombre(s)</td>
                <td>{{paniers.price * paniers.quantity}} Chf</td>
            </tr>
            <tr>
                <td>Total :</td>
                <td></td><!--reprend le total d'articles dans le panier et le montant total du panier-->
                <td>{{totalArticles()}} Nombre(s)</td>
                <td>{{totalPrice()}} Chf</td>
            </tr>
            <tr>
                <td></td>
                <td></td><!--button qui permet de vider la panier avec la méthode emptycart-->
                <td>
                    <button class="btn btn-danger" @click="emptyCart()">Vider le panier</button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <p class="p-2 alert alert-success" v-if="totalArticles() >= vip">Vous êtes un client premium</p>
    </div>

    <div class="container border">
        <!--v-for pour afficher les donner de l'articles qui est selectionner-->
        <figure v-for="(products) in product" v-bind:key="products.id" v-if="products.name === type">
            <img class="m-lg-4 img-thumbnail img-fluid" v-bind:src="products.img" v-bind:alt="products.name">
            <div>

                <div class="col">
                    <h3 class="mb-4 m-lg-4">Name: {{products.name}}</h3>
                    <p class="mb-4  m-lg-4">Description: {{products.description}}</p>
                    <p class="mb-4  m-lg-4">Prix: {{products.price}} Chf</p>
                    <p class="mb-4 m-lg-4" v-if="products.quantity > stocklimit">{{products.quantity}} en stock</p>
                    <p v-if=" products.quantity <= stocklimit && products.quantity > rupturedestock"
                       class="text-warning mb-4 m-lg-4">Stock Limité</p>
                    <p v-if="products.quantity === rupturedestock" class="text-danger mb-4 m-lg-4">Rupture de Stock</p>
                </div>
            </div>

        </figure>
        <!--v-for pour afficher les des différent models d'articles-->
        <figure class="d-inline-block" v-for="(products, index) in product" v-bind:key="products.id">
            <p class="m-lg-4" v-if="index === 0" >Models :</p>
            <img class="w-50 img-fluid img-thumbnail"
                 v-bind:class="{'alert alert-dark': type === products.name}" v-bind:src="products.img"
                 @click="changeType(products.name)" v-bind:alt="products.name">

        </figure>
        <div class="align-content-center">
            <button class="btn btn-primary my-3" @click="addProduct(type)">Ajouter au panier</button>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>